.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 387px auto -13px;
  padding: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}